@use 'src/assets/styles/variables/_typography.scss';

html {
  font-family: typography.$font-josefin-slab;
  font-size: 10px;
  font-weight: 400;
  color: white;
  text-rendering: optimizeLegibility;
}
