@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-rendering: optimizeLegibility;
}
