$canvas-bg: #060604;
$gray-100: #2f2f30;
$gray-200: #3f3f40;
$gray-300: #4f4f50;
$gray-400: #5f5f60;
$gray-500: #6f6f70;
$gray-600: #7f7f80;
$gray-700: #8f8f90;


$level-blue: #7874FD;
$level-gray: #8FA9B1;

$blood-red: #a53416;
$gold: #e3a41a;

