@use "src/assets/styles/variables/colors";
@use 'src/assets/styles/variables/typography';

.bubble {
  font-family: typography.$font-josefin-sans;
  position: absolute;
  align: center;
  margin: auto;
  transform: translate(0, 0);
  color: #fff;
  font-weight: 700;
  padding: 1rem 6rem;
  animation: bubble 1.8s linear forwards;
  pointer-events: none;
}

.bubble__text {
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bubble_text--crit-hit {
  color: colors.$blood-red;
  font-size: typography.$text-l;
}

.bubble_text--gold {
  color: colors.$gold;
  font-size: typography.$text-l;
  font-weight: 800;
}

.bubble__icon {
  padding-bottom: 0.6rem;
}

@keyframes bubble {
  0% { transform: translateY(0px); opacity: 1; }
  100% { transform: translateY(-80px); opacity: 0; }
}