.bubble {
  position: absolute;
  align: center;
  margin: auto;
  transform: translate(0, 0);
  color: #fff;
  font-weight: 700;
  padding: 1rem 6rem;
  animation: bubble 1.8s linear forwards;
  pointer-events: none;
}

.bubble__text {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes bubble {
  0% { transform: translateY(0px); opacity: 1; }
  100% { transform: translateY(-80px); opacity: 0; }
}