<sl-monster-background [monster]="monster">
    <sl-monster-button
        [monster]="monster"
        (damageToMonster)="onDamageToMonster($event)"
        (goldDropped)="onGoldDropped($event)"
    ></sl-monster-button>
    <sl-progress-bar
        class="monster__health-bar"
        [totalValue]="monsterTotalHealth"
        [currentValue]="monster.health"
        [color]="monster.color"
        [showValues]="true"
        fontSize="medium"
    ></sl-progress-bar>
    <ng-content select="[slot=army]"></ng-content>
</sl-monster-background>