<sl-bubble>damage</sl-bubble>
<sl-bubble>gold drop</sl-bubble>
<sl-monster-background [monster]="monster">
    <sl-progress-bar>DPS</sl-progress-bar>
    <sl-monster-button
        [monster]="monster"
        [playerWeaponDamage]="weapon.strength"
        (damageToMonster)="onDamageToMonster($event)"
    ></sl-monster-button>
    <sl-progress-bar class="monster__health-bar"
        [totalValue]="monster.health"
        [currentValue]="monster.health"
        [color]="monster.color"
        [showValues]="true"
    ></sl-progress-bar>
    <sl-army></sl-army>
</sl-monster-background>