<div class="progress-bar">
    <sl-icon *ngIf="icon" [icon]="icon" [size]="iconSize"></sl-icon>
    <div
        *ngIf="currentValue && totalValue"
        class="progress-bar__total-value"
    >
        <div
            class="progress-bar__current_value"
            [style.width.%]="currentValue / totalValue * 100"
            [style.background-color]="color"
            [title]="label + ': ' + currentValue + ' / ' + totalValue"
        >
            <span class="progress-bar__values" *ngIf="showValues">{{currentValue + ' / ' + totalValue}}</span>

        </div>
    </div>
    <div
        class="progress-bar__content"
        [class.progress-bar__content--small]="fontSize === 'small'"
        [class.progress-bar__content--medium]="fontSize === 'medium'"
        [class.progress-bar__content--large]="fontSize === 'large'"
    >
        <ng-content></ng-content>
    </div>
</div>

