.icon {
    display: inline-flex;
    align-items: center;
    border: none;
    vertical-align: middle;

    &__small {
        width: 1.2rem;
        height: 1.2rem;
    }

    &__medium {
        width: 1.7rem;
        height: 1.7rem;
    }

    &__large {
        width: 2.4rem;
        height: 2.4rem;
    }
}