<div class="player-stats">
    <sl-progress-bar>Level {{ player.level }}</sl-progress-bar>
    <sl-progress-bar
        icon="heart"
        label="health"
        [totalValue]="playerMaxHealth"
        [currentValue]="player.health"
        [color]="ColorsEnum.bloodRed"
    ></sl-progress-bar>
    <sl-progress-bar icon="xp" [totalValue]="" [currentValue]="player.xp"></sl-progress-bar>
    <sl-progress-bar icon="mana"></sl-progress-bar>
    <sl-progress-bar icon="gold" iconSize="medium"></sl-progress-bar>
</div>