<sl-canvas>
    <sl-panel>
        <sl-player-stats [player]="player"></sl-player-stats>
        <sl-monster [player]="player" [weapon]="weapon"></sl-monster>
        <sl-spells></sl-spells>
    </sl-panel>
    <sl-panel></sl-panel>
    <sl-panel>
        <sl-shop-list>
            <sl-shop-item
                *ngFor="let unlockedShop of unlockedShops"
                [shop]="unlockedShop"
                [status]="player.gold >= unlockedShop.price ? 'unlocked' : 'disabled'"
            ></sl-shop-item>
            <sl-shop-item
                *ngFor="let hintedShop of hintedShops"
                [shop]="hintedShop"
                status="hinted"
            ></sl-shop-item>
            <sl-shop-item
                *ngFor="let lockedShop of lockedShops"
                [shop]="lockedShop"
                status="locked"
            ></sl-shop-item>
        </sl-shop-list>
    </sl-panel>
</sl-canvas>