@use "src/assets/styles/variables/colors";
@use 'src/assets/styles/variables/typography';

.farm {
  display: flex;
  border-bottom: 0.24rem solid colors.$gray-100;
  padding: 2rem;
}

.farm__units {
  display: flex;
  flex-direction: row;
  width: 100%;
}
