@use "src/assets/styles/variables/colors";
@use 'src/assets/styles/variables/typography';

.unit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.unit-item--disabled {
  -webkit-filter: grayscale(1);
}

.unit-item__image {
  margin-bottom: 0.4rem;
  image-rendering: pixelated;
  -webkit-filter: brightness(0.95);

  &:hover {
    -webkit-filter: brightness(1);
    cursor: pointer;
  }

  &:active:not(.unit-item__image--disabled) {
    transform: translate(0.1rem, 0.1rem);
  }
}

.unit-item__image--disabled {
  -webkit-filter: grayscale(1);
  cursor: not-allowed;
}

.unit-item__amount {
  font-family: typography.$font-josefin-sans;
  font-size: 1.4rem;
  font-weight: 600;
}

.unit-item__name {
  font-family: typography.$font-open-sans;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.3px;

}

.unit-item__cost {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  font-family: typography.$font-josefin-sans;

}

.unit-item__cost-image {
}

.unit-item__cost-amount {
  font-weight: 400;
  font-size: 1.8rem;
  color: colors.$gold;
  padding-top: 0.35rem;
  height: 100%;
}